/*
:local .dashboard a{
    font-size: 12px;
}
*/
.nodata{
	margin-top:15px;
	color: #000000;
    fill: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.nodatatodisplay{
	margin-top: 70px;
    font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
}

.drilldown_details {
	margin-left: 10px;
	margin-bottom:40px;
}
.chart {
	float: left;
    /*width: 535px;*/
	
	margin: 30px 1% 10px 0;
}
.chart.all {
	max-height: 200px;
	width:99%;
}
.chart.left {
	max-height: 200px;
	width:49%;
	 
}
.chart.right {
	max-height: 200px;	
	width:49%;
	float:right;
}
.chart_title {   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
.chart .fusionObj{
	text-align: center;
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #B4B4B4;
	/*background: #F0F0F0;*/
	max-height:220px;
	height:220px;
	/*line-height: 220px;*/
}